:root {
  /* Variables */
  /* scroll-to-target fix */
  --header-offset: 2.5em;
  /* colors */
  --color-primary: #24201E;
  --color-secondary: #D0B7AA;
  --color-tertiary:  #F0EDE8;
}

/* Main Elements */
html {
  /* scroll-to-target fix */
  scroll-padding-top: var(--header-offset);
}

body {
  background-color: var(--color-tertiary);
} 

header, 
footer {
  background-color: var(--color-secondary);
}

header {
  box-shadow: 0 2px 2px -2px gray;
}


footer {
  box-shadow: 0 -1px 4px -2px gray;
}

/* Containers */
/* general card */
.card {
  background-color: var(--color-tertiary);
  border: none;
}

/* about card */
.card-about {
  width: 75%;
  min-width: 18rem;
  max-width: 45rem;
  margin: 0 auto;
}

.card-about img {
  clip-path: circle();
}

/* forms */
.card-form {
  width: 75%;
  min-width: 12rem;
  max-width: 45rem;
  margin: 0 auto;
}

.card-form label {
  margin-left: 0.5rem;
}


/* Mini Components */
/* selection */
::selection {
  color: var(--color-primary);
  background-color: burlywood;
}

/* logo */
.logo {
  height: auto;
  width: 8rem;
}

/* blockqoute */
blockquote {
  font-style: italic;
}

/* carousel caption */
.carousel-caption {
  background-color: rgba(240, 237, 232, 0.9);
}

/* follow button */
.btn .btn-follow i {
  position: relative; 
  bottom: 0.1rem;
}

/* dark button */
.btn-dark:hover {
  background-color: rgba(36, 32, 30, 0.5) !important;
  color: rgba(36, 32, 30, 1);
}

/* Colors */
/* text */
.text-custom-primary {
  color: var(--color-primary);
}

.text-custom-secondary {
  color: var(--color-secondary);
}

.text-custom-tertiary {
  color: var(--color-tertiary);
}

/* background */
.bg-custom-primary {
  background-color: var(--color-primary);
}

.bg-custom-secondary {
  background-color: var(--color-secondary);
}

.bg-custom-tertiary {
  background-color: var(--color-tertiary);
}

/* border */
.border-custom-primary {
  border-color: var(--color-primary);
}

.border-custom-secondary {
  border-color: var(--color-secondary);
}

.border-custom-tertiary {
  border-color: var(--color-tertiary);
}

/* Links */
/* header */
header [aria-current="page"] {
  position: relative;
  color: var(--color-secondary) !important;
  background-color:var(--color-primary);
}

/* footer */
footer [aria-current="page"] {
  text-decoration: underline;
}

/* nav-links */
.nav-link:hover {
  text-decoration: underline;
}

/* scroll-to-target */
#top-element,
#first-section {
  scroll-margin-top: var(--header-offset);
}

/* Media Queries */

/* Up to Medium Devices */
@media only screen and (max-width: 768px) {
  /* links */
  header [aria-current="page"] {
    display: inline-block;
    border-left: 0.4rem solid var(--color-primary);
    border-right: 0.4rem solid var(--color-primary);
    }
  /* forms */
  .card-form {
    width: 100%;
  }
  /* containers */
  .card-benefit .card-body {
    text-align: left;
  }
}

/* Up to Small Devices */
@media only screen and (max-width: 576px) {
  /* containers */
  .card-benefit .card-body {
    text-align: center;
  }
}