/* Main Elements */
body {
  background-color: #F0EDE8;
} 

header, 
footer {
  background-color: #D0B7AA;
}

header {
  box-shadow: 0 2px 2px -2px gray;
}


footer {
  box-shadow: 0 -1px 4px -2px gray;
}

/* Containers */
.card {
  background-color: #F0EDE8;
  border: none;
}

/* Logo */
.logo {
  height: auto;
  width: 8rem;
}

/* Custom Colors */
.text-custom-primary {
  color: #24201E !important;
}

.text-custom-secondary {
  color: #D0B7AA !important;
}

.text-custom-tertiary {
  color: #F0EDE8 !important;
}

.bg-custom-primary {
  background-color: #24201E !important;
}

.bg-custom-secondary {
  background-color: #D0B7AA !important;
}

.bg-custom-tertiary {
  background-color: #F0EDE8 !important;
}

/* Selection Highlighting */
::selection {
  color: #24201E !important;
  background-color: burlywood;
}

/* Links */
header [aria-current="page"] {
  position: relative;
  color: #D0B7AA !important;
  background-color:#24201E;
}

footer [aria-current="page"] {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Media Queries */

/* Small Devices */
@media only screen and (max-width: 768px) {
  /*Links */
  header [aria-current="page"] {
    display: inline-block;
    border-left: 0.4rem solid #24201E;
    border-right: 0.4rem solid #24201E;
    }
}